.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: rgba(0, 0, 0, 0.5);
    color: var(--color-white);
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
}

.experience__container > div:hover {
    cursor: default;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    /* margin: 0 auto; */
}

h3 {
    text-align: center;
    display: block;
    padding-bottom: 0.5rem;
}


.experience__details {
    gap: 1rem;
    padding: 0.5rem;
}

.experience__details:hover {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    border: 1px dashed var(--text-white);
}

.inline {
    display: inline-block;
}

.experience__details-icon {

    color: var(--color-primary);
    margin-right: 0.5rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;

    }
}